.header{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    
    flex-direction: row;
    position: sticky; 
    top: 0;
    z-index: 100;
    color: aliceblue;
}

.header__logo{
    /* display:inline-flex; */
    height:50px;
    object-fit: contain; 
    margin-left:10px; 
}
.header__input{
    display: flex;
    align-items: center;
    width:50%;
    border:1px solid white; 
    border-radius: 25px;
    padding:5px; 
}
.header__icons{
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
    font-size: 20px;
    padding: 20px;
    
  }
.header__input input{
 flex:1;
 border:none;
 border-radius:25px;
 padding-left:4px;
 white-space:5px;
 background-color:black;
 color: aliceblue;
} 
.header__inputbutton{
    width:50px !important;
    border-left: 1px solid white;
  
    
}
.image{
    border-radius:50%;
}