.sidebar {
    width: 15rem;
    color: aliceblue;
    /* overflow-y: scroll; */
   /* position:sticky; */
   box-shadow:5px 5px 5px gray;
   z-index: 1;

}

.sidebar hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub title {
    text-decoration: none;
    color: aliceblue;
}
