h4 {
    color: aliceblue;
}

.videocard {
    width: 270px;
    margin-bottom: 40px;
    color: azure;
    
}
.videocard__thumbnail:hover{
    opacity:1;
    transform: scale(1.25);
    z-index: 1;
}
.videocard__thumbnail {
    height: 140px;
    width: 250px;
    border-radius: 25%;
}