.sidebarRow {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.siderow__icon {
    font-size: large;

}

.siderow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
}

.sidebarRow:hover {
    background-color: rgb(47, 46, 46);
    border-radius: 20px;
    cursor: pointer;
}

.sidebarRow:hover .siderow__icon {
    color: red;
}

.sidebarRow:hover .siderow__title {
    font-weight: bold;
}